#main_div {
	text-align: center;
}

#view_box {
	margin-top: 2em;
	padding: 7em;
	border: 1px solid red;
}

#view_random {
	font-size: 5em;
}

#view_sound {
	display: block;
	min-height: 2em;
	font-size: 2em;
	font-weight: lighter;
	color: blue;
}

.button-showchart {
	background-color: pink;
}

#popup_bg {
    width: 100vw;
    height: 100vh;
    background-color: gray;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    opacity: 0.2;
}

#popup_content {
	width: 50vw;
	height: 50vh;
	background-color: white;
}

#kana_select {
	color: #ab9d58;;
}

#kana_chart > p {
	margin: 0;
}

#kana_chart span {
	width: 5em;
	border-bottom: 1px solid #c7c5c5;
	font-size: 2em;
}

#kana_chart span i {
	font-size: 0.8em;
	color: blue;
}

@media only screen and (max-width: 1100px) {
  #view_random {
	font-size: 8em;
  }
  
  #view_box {
	padding-left: 2em;
	padding-right: 2em;
	margin-top: 15em;
  }

  #view_sound {
  	font-size: 4em;
  }

  button {
	font-size: 4em !important;
    padding: 0 1em !important;
    height: 5em !important;
    margin-top: 1em !important;
  }

  #main_div {
		margin: 0;
		width: 100%;
  }

  #kana_select {
    width: 40%;
    height: 20%;
    font-size: 2em;
    text-align: center;
  }
}




#view_meaning, #view_chapter, #view_category {
	display: block;
	min-height: 24px;
	min-width: 20px;
	color: gray;
}

#view_meaning > b, #view_chapter > b, #view_category > b {
	color: red;
}

#hide_filter_button {
	background-color: red;
}

#filter_div input[type="text"] {
	width: 50px;
}

#filter_div label {
	display: inline;
	margin-left: 10px;
}