#main_div {
	text-align: center;
}

#view_box {
	margin-top: 2em;
	padding: 7em;
	border: 1px solid red;
}

#view_random {
	font-size: 5em;
}

#view_sound {
	display: block;
	min-height: 2em;
	font-size: 2em;
	font-weight: lighter;
	color: blue;
}

@media only screen and (max-width: 1000px) {
  #view_random {
	font-size: 8em;
  }

  button {
	font-size: 4em !important;
    padding: 1em !important;
  }
}