#main_div {
	text-align: center;
}

#view_box {
	margin-top: 2em;
	padding: 5em;
	border: 1px solid red;
}

#view_random {
	font-size: 5em;
}

#view_sound {
	display: block;
	min-height: 2em;
	font-size: 2em;
	font-weight: lighter;
	color: blue;
}

.button-showchart {
	background-color: pink;
}

#kana_select {
	color: #ab9d58;;
}

#kana_chart > p {
	margin: 0;
}

#kana_chart span {
	width: 5em;
	border-bottom: 1px solid #c7c5c5;
	font-size: 2em;
}

#kana_chart span i {
	font-size: 0.8em;
	color: blue;
}

#view_meaning, #view_chapter, #view_category, #view_kanji,#view_meaning_1, #view_meaning_2 {
	display: block;
	min-height: 28px;
	min-width: 20px;
	color: gray;
}

#view_kanji {
	min-height: 48px;
}

.viewAnswer {
	color: blue;
	font-size: larger;
}

.viewAnswerKanji {
	font-weight: lighter;
	font-size: 2em;
	color: brown;
}

#hide_filter_button {
	background-color: red;
}

#filter_div input[type="text"] {
	width: 50px;
}

#filter_div label {
	display: inline;
	margin-left: 10px;
}

#filter_results_size {
	color: red;
}

#chart, #hide_chart_button {
	background-color: #ffffe1;
}

#chart > header {
	text-align: center;
}

#chart > p {
	cursor: pointer;
}

.chartItemSeen {
	background-color: #d6fdd6;
}

#saved, #hide_saved_button, #save_button {
	background-color: #e5ffe8;;
}

#saved > header {
	text-align: center;
}

#saved > p {
	cursor: pointer;
}

.removeSavedSpan {
	font-weight: bold;
	color: red;
	margin-right: 1em;
}


table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #000;
  padding: 8px;
  text-align: center !important;
}

tr:hover {
	background-color: #edf1fb;
}

details summary { list-style-type: none; cursor: pointer; } /* Firefox */
details summary::-webkit-details-marker { display: none; cursor: pointer; } /* Chrome */
details summary::marker { display: none; }

details > ul { background: #fffdcb; }

ul.navbar {
  list-style-type: none;
  overflow: hidden;
  margin-top: -1em;
  margin-bottom: 2em;
}

ul.navbar > li {
  float: left;
  margin-bottom: 0; 
}

ul.navbar > li a {
  display: block;
  padding-top: calc(0.3rem + 1vmin);
  text-decoration: underline; 
}

ul.navbar > li a.active {
	color: #db5582;
  text-decoration: none; 
}

@media (min-width: 550px) {
  ul.navbar > li a {
    padding-left: 1.5rem;
    padding-right: 1.5rem; }
}

ul.navbar > li a > * {
  margin: 0!important; }
}

@media only screen and (max-width: 1100px) {
  #view_random {
	font-size: 8em;
  }
  
  #view_box {
	padding-left: 2em;
	padding-right: 2em;
	margin-top: 15em;
  }

  #view_sound {
  	font-size: 4em;
  }

  #view_meaning, #view_chapter, #view_category, #view_kanji {
		font-size: 3em;  
	}

	#filter_div {
		font-size: 3em;
	}

	#filter_div input[type="text"] {
		height: 2em;
		width: 2em;
		font-size: 0.8em;
	}

	#filter_div input[type="checkbox"] {
		height: 4em;
		width: 4em;
	}

	a {
		font-size: 3em;
	}

  button {
	font-size: 4em !important;
    padding: 0 1em !important;
    height: 5em !important;
    margin-top: 1em !important;
  }

  #main_div {
		margin: 0;
		width: 100%;
  }

  #kana_select {
    width: 40%;
    height: 20%;
    font-size: 2em;
    text-align: center;
  }
}
